<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        ...
        <!-- Добавьте эту строку внутри тега <application> -->
        <meta-data
            android:name="com.google.firebase.analytics.default_channel_id"
            android:value="default_channel"/>
    </application>

</manifest>
