[Desktop Entry]
Type=Application
Name=Todo
Comment=Todo - Simple & Beautiful.
Icon=com.queenstech.todo
Exec=/usr/bin/com.queenstech.todo
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=UserDirs
OrganizationName=com.queenstech
ApplicationName=todo
